.signup-form {
  width: 400px;
  /* border: 1px solid; */
  border-radius: 15px;
  padding: 16px 8px;
  margin: 15px 10px;
  box-shadow: 0.5px 1px, -0.5px -1px;
}
.signup-form label,
.dropdown label,
.radio-btn {
  margin: 3px 6px;
  padding: 4px 8px;
  font-size: 18px;
}

.signup-form label input,
.dropdown label select,
.radio-btn input {
  border-radius: 5px;
  border: none;
  height: 25px;
  padding: 4px 8px;
  border: none;
}
.radio-btn {
  border-radius: 10px;
  margin: 0 13px;
}
.signup-form button,
.btn button {
  display: block;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  padding: 8px 16px;
  margin: 10px auto;
  color: #070f2b;
}
.signup-form button:hover {
  color: #9290c3;
}
.redirect-to-login {
  border: none;
  display: block;
  padding: 8px 4px;
  margin: 10px auto;
  text-decoration: none;
  width: fit-content;
}
.loading-spiner {
  border: 2px solid #ffffff93; /* Light grey */
  border-top: 2px solid #070f2b; /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: end;
}
.btn-container div {
  padding: 10px;
  /* margin: 10px; */
}

/* .chart-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
} */
.chart {
  max-width: 600px;
  width: 500px;
  margin: 15px auto;
}

.navbar {
  padding: 0 20px;
  background-color: #9290c3;
}

.hero-container {
  background-image: url("https://plus.unsplash.com/premium_photo-1681487769650-a0c3fbaed85a?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8ZmluYW5jZXxlbnwwfHwwfHx8MA%3D%3D");
  height: 85vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-container {
  position: relative;
  height: 85vh;
  width: 100%;
  background-image: url("https://plus.unsplash.com/premium_photo-1681487769650-a0c3fbaed85a?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8ZmluYW5jZXxlbnwwfHwwfHx8MA%3D%3D");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 1;
  color: white; /* for visible text */
}

.hero-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #070f2bc9; /* Black overlay with 0.4 opacity */
  z-index: 2;
}

.hero-container > * {
  position: relative;
  z-index: 3; /* Ensures content stays above the overlay */
}
.hero-container div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: white;
  text-align: center;
}

.real-time-projection-container {
  padding: 10px;
  margin: 20px auto;
}
.real-time-projection-container h2 {
  padding: 10px;
  text-align: center;
}

.card-container {
  display: flex;
  background-color: #9290c3;
  max-width: 500px;
  padding: 16px 32px;
  border-radius: 8px;
  margin: 15px auto;
  box-sizing: border-box;
}
.card-container h2 {
  background-color: #070f2b;
  color: #9290c3;
  padding: 8px 16px;
  margin-right: 20px;
  border-radius: 8px;
  font-size: 24px;
}

/* .card-container div img {
  width: 60px;
  rotate: 180deg;
} */

.content {
  max-width: 500px;
  /* padding: 16px 32px; */
  /* border-radius: 8px; */
  margin: 20px auto;
  font-size: 18px;
  text-transform: capitalize;
}

.footer {
  background-color: #9290c3;
  color: white;
  text-align: center;
  padding: 15px 0;
  margin-top: 40px;
  font-size: 14px;
}
.card-container-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 10px;
  border: 1px solid #9290c3;
  border-radius: 10px;
  padding: 10px;
  max-width: 1200px;
}
.card {
  display: flex;
  align-items: center;
  color: #9290c3;
  width: 300px;
  margin: 10px 20px;
}

.card div h3 {
  color: white;
  font-size: 22px;
}
.card div img {
  width: 70px;
  color: #9290c3;
  margin-right: 20px;
}
